ul {
    background-color: yellow;
    display: flex;
    padding: 10px;
    justify-content: right;
    gap: 50px;
    height: 50px;
    font-size: 25px;
    margin-right: 5px;
}
ul li a{
    text-decoration: none;
    border: 1px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif
}